// grid value
$min-sm: 576px;
$min-med: 768px;
$min-lg: 992px;
$min-xl: 1200px;

$max-xs: 575.98px;
$max-sm: 767.98px;
$max-med: 991.98px;
$max-lg: 1199.98px;

// Colors
$main-color: #23282E;
$primary-color: #2FCCF6;

$slider-bullet-color: #E4ECEE;
$slider-border-color: #979797;

$sponser-color: #F3F6F6;