// grid value
$min-sm: 576px;
$min-med: 768px;
$min-lg: 992px;
$min-xl: 1200px;

$max-xs: 575.98px;
$max-sm: 767.98px;
$max-med: 991.98px;
$max-lg: 1199.98px;

// Colors
$main-color: #23282E;
$primary-color: #2FCCF6;
$font-color: #1B1F23;
$text-muted: #BEC1C5;

$slider-bullet-color: #E4ECEE;
$slider-border-color: #979797;

$sponser-color: #F3F6F6;

$icon-star-color: #6DDE54;


// Font-sizes
$h1-font-size: 3rem;
$h2-font-size: 2.5rem;
$h3-font-size: 1.5rem;
$h4-font-size: 1.125rem;
$p-font-size: 1.5rem;
$btn-font-size: 1rem;
$div-font-size: 1rem;
$span-font-size: 0.875rem;

$ratio-font-lg: 0.83;
$ratio-font-med: 0.64;
$ratio-font-sm: 0.48;
$ratio-font-xs: 0.35;

