.btn {
  padding: 0.7rem 2rem;
  border-radius: 2rem;
}

.btn-outline-primary {
  color: $primary-color;
  border-color: $primary-color;
  &:hover,
  &:not(:disabled):not(.disabled).active{
    color: #fff;
    background-color: $primary-color;
    border-color: $primary-color;
    transition: 0.2s all ease-in-out;
  }
}


.btn-sm {
  padding: 0.4rem 1.5rem;
  border-radius: 1.5rem;
}