/*
Start Gallery portfolio*/
.gallery-portfolio {
  padding-top: 100px;
  @media (max-width: $max-sm) {
    padding-top: 50px;
  }
img {
  display: block;
  margin: auto;
  margin-bottom: 25px;
}
  .btn {
    margin-top: 80px;
    margin-bottom: 100px;
    padding:0.7rem 1.125rem;
    @media (max-width: $max-sm) {
      display: block;
      max-width: 100%;
      margin: auto;
      margin-top: 40px;
      margin-bottom: 50px;
    }
  }
}
/*
End Gallery portfolio*/
