/*
Start Getting Touch*/
.getting-touch{
  padding: 7rem 0;
  @media (max-width: $max-sm) {
    padding: 3rem 0;
  }
  h2 {
    margin-bottom: 1.75rem;
  }
  .div {
    margin-bottom: 3rem;
  }
  form{
    font-family: 'Roboto', sans-serif;;
    border-radius: 10px;
    padding: 3rem 2.5rem 2.5rem 2.5rem;
    .btn{
        max-width: 100%;
        margin: auto;
        display: block;
    }
  }
}
/*
End Getting Touch*/