/*Start Home Slider*/
.home-slider {
  position : relative;
  @media (max-width: $max-med) {
    align-items: start !important;
  }

  .carousel-indicators {
    bottom: -7em;
    right           : initial;
    justify-content : start;
    padding-left    : 0;
    margin-right    : initial;
    margin-left     : 15px;

    li {
      border           : 1px solid transparent;
      background-color : $slider-bullet-color;
      opacity          : 1;
      width            : 1em;
      height           : 1em;
      border-radius    : 50%;

      &.active, &:hover, &:focus {
        background-color : $primary-color;
        border-color     : $slider-border-color;
      }
    }
  }

  .carousel-item {
    .carousel-caption {
      position : static;
    }
  }
}
/*End Home Slider*/