/* Start Navbar */


.navbar {
  padding : 2.25em 1em 0;
  @media (max-width : $max-sm) {
    padding : 1em;
  }

  .navbar-brand {
    margin-right : 2em;
  }

  .nav-item {
    &.active > .nav-link {
      color : $primary-color;
    }
    .nav-link {
      color : $font-color;

      &:hover,
      &:active,
      &:focus {
        color : $primary-color;
      }

      @media (max-width : $max-sm) {
        padding-top: 2rem;
        padding-bottom: 0;
        font-size: 1rem;
      }
    }
  }

  .social {
    .fa {
      background-color : #000000;
      color            : #ffffff;
      padding          : 0.25em;

      &:hover {
        color : $primary-color;
      }

      @media (max-width : $max-sm) {
        padding: 0.5em;
      }
    }

    @media (max-width : $max-sm) {
      margin-top: 2rem;
      font-size: 1.1rem;
    }
  }

}
/* End Navbar */

