/*Start Sponser*/
.sponsers {
  background-color: $sponser-color;
  img {
    padding: 4.6em 0;
    @media (max-width: $max-med) {
      padding: 2em 0;
    }
    @media (max-width: $max-sm) {
      padding: 1.5rem 0;
    }
  }

}
/*End Sponser*/