/*
Start Testimonial Body*/
.testimonial-body {
  padding: 70px 0 115px;

  h2 {
    font-size: 2rem;
    margin-bottom: 60px;
    @media (max-width: $max-lg) {
      font-size: 1.68rem;
    }
    @media (max-width: $max-sm) {
      font-size: 1.5rem;
      margin-bottom: 30px;
    }
    @media (max-width: $max-xs) {
      font-size: 1.25rem;
    }
  }
}

/*
End Testimonial Body*/
