<!--Start Mobility-->
<div class="mobility">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-lg-6">
        <h2 class="h3 font-weight-medium">
          Mobility + safety are reinvented with Mercedes Me Collision Guardian.
        </h2>
        <p class="span">
          In 1886, with the first car. Now it’s time to do so again. Mobility these days is far more than simply a means
          of transport. A whole world is open to you now on your smartphone.
        </p>
        <p class="span">
          The world of Mercedes-Benz, too. Check your vehicle’s data, take a look at your contracts or book your
          personal mobility services. So much is possible – and every day there’s more. So come aboard and join us on a
          journey into the future of mobility.
        </p>
      </div>
      <div class="col-md-6 mt-25">
        <img src="images/iPhone_X_Mockup.png" class="img-fluid" height="733" width="363" />
      </div>
    </div>
  </div>
</div>
<!--End Mobility-->