<!--Start UXD Comment-->
<div class="uxd-comment">
  <div class="row align-items-center">
    <div class="col-md-6">
      <img src="images/uxd-comment.png" class="mb-3 mb-md-0" height="440" width="720" />
    </div>
    <div class="col-md-6">
      <div class="content">
        <div class="row align-items-center">
          <div class="col">
            <p class="h4 font-weight-normal">
              “Work on this project was more than a simple job… I’m a big fan of cars, and Mercedes Benz is one of the
              most incredible brands in the world. Mercedes Benz not just build awesome cars, but they are one step ahead
              in therms of innovation and safety.”
            </p>
            <h4>
              Guilherme Ferreira
            </h4>
            <div class="h4 font-weight-medium mb-3">
              UX Designer
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End UXD Comment-->