<!--Start Client Comments-->
<div class="client-comments text-md-left text-center">
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-md-3">
        <img src="images/client.png" alt="..." height="114" width="114" />
      </div>
      <div class="col-md-8">
        <p class="p">“Guilherme is an extremely skilled designer with a lot of experience. He came up with a unique
                     and crips
           design for our elearning app.”
        </p>
        <div class="text-main-color h4">Christian M. Leupold-Wendling</div>
        <div class="span text-muted">CEO - Jurafuchs</div>
        <div class="span text-muted">Berlin, Germany</div>
      </div>
    </div>

  </div>
</div>
<!--End Client Comments-->