<!--Start Home Slider-->
<!--<div class="container-fluid">-->
<div class="home-slider">
  <div class="container">
    <div class="row align-items-start align-items-sm-center">
      <div class="col-7 col-sm-6 col-md-6">
        <div id="home-slider" class="carousel slide" data-ride="carousel">
          <!--        Control Slider-->
          <ol class="carousel-indicators mr-n4 ml-n2 mr-sm-0 ml-sm-0">
            <li data-target="#home-slider" data-slide-to="0" class="active"></li>
            <li data-target="#home-slider" data-slide-to="1"></li>
            <li data-target="#home-slider" data-slide-to="2"></li>
            <li data-target="#home-slider" data-slide-to="3"></li>
            <li data-target="#home-slider" data-slide-to="4"></li>
            <li data-target="#home-slider" data-slide-to="5"></li>
            <li data-target="#home-slider" data-slide-to="6"></li>
            <li data-target="#home-slider" data-slide-to="7"></li>
            <li data-target="#home-slider" data-slide-to="8"></li>
            <li data-target="#home-slider" data-slide-to="9"></li>
            <li data-target="#home-slider" data-slide-to="10"></li>
            <li data-target="#home-slider" data-slide-to="11"></li>
          </ol>

          <!--        Content Of Slider-->
          <div class="carousel-inner">
            <div class="carousel-item active">

              <div class="carousel-caption text-left">
                <h5 class="h1">
                  “I’ve worked with dozens of designers
                  over the decades and Gui is at the top.”
                </h5>
                <p class="h4 text-main-color">Brian Ericksson</p>
                <div>
                  CEO - Cardwell Beach
                </div>
                <div>
                  New York City, US
                </div>
              </div>

            </div>
            <div class="carousel-item ">

              <div class="carousel-caption text-left">
                <h5 class="h1">
                  “I’ve worked with dozens of designers
                  over the decades and Gui is at the top.”
                </h5>
                <p class="h4 text-main-color">Brian Ericksson</p>
                <div>
                  CEO - Cardwell Beach
                </div>
                <div>
                  New York City, US
                </div>
              </div>

            </div>
            <div class="carousel-item ">

              <div class="carousel-caption text-left">
                <h5 class="h1">
                  “I’ve worked with dozens of designers
                  over the decades and Gui is at the top.”
                </h5>
                <p class="h4 text-main-color">Brian Ericksson</p>
                <div>
                  CEO - Cardwell Beach
                </div>
                <div>
                  New York City, US
                </div>
              </div>

            </div>
            <div class="carousel-item ">

              <div class="carousel-caption text-left">
                <h5 class="h1">
                  “I’ve worked with dozens of designers
                  over the decades and Gui is at the top.”
                </h5>
                <p class="h4 text-main-color">Brian Ericksson</p>
                <div>
                  CEO - Cardwell Beach
                </div>
                <div>
                  New York City, US
                </div>
              </div>

            </div>
            <div class="carousel-item ">

              <div class="carousel-caption text-left">
                <h5 class="h1">
                  “I’ve worked with dozens of designers
                  over the decades and Gui is at the top.”
                </h5>
                <p class="h4 text-main-color">Brian Ericksson</p>
                <div>
                  CEO - Cardwell Beach
                </div>
                <div>
                  New York City, US
                </div>
              </div>

            </div>
            <div class="carousel-item ">

              <div class="carousel-caption text-left">
                <h5 class="h1">
                  “I’ve worked with dozens of designers
                  over the decades and Gui is at the top.”
                </h5>
                <p class="h4 text-main-color">Brian Ericksson</p>
                <div>
                  CEO - Cardwell Beach
                </div>
                <div>
                  New York City, US
                </div>
              </div>

            </div>
            <div class="carousel-item ">

              <div class="carousel-caption text-left">
                <h5 class="h1">
                  “I’ve worked with dozens of designers
                  over the decades and Gui is at the top.”
                </h5>
                <p class="h4 text-main-color">Brian Ericksson</p>
                <div>
                  CEO - Cardwell Beach
                </div>
                <div>
                  New York City, US
                </div>
              </div>

            </div>
            <div class="carousel-item ">

              <div class="carousel-caption text-left">
                <h5 class="h1">
                  “I’ve worked with dozens of designers
                  over the decades and Gui is at the top.”
                </h5>
                <p class="h4 text-main-color">Brian Ericksson</p>
                <div>
                  CEO - Cardwell Beach
                </div>
                <div>
                  New York City, US
                </div>
              </div>

            </div>
            <div class="carousel-item ">

              <div class="carousel-caption text-left">
                <h5 class="h1">
                  “I’ve worked with dozens of designers
                  over the decades and Gui is at the top.”
                </h5>
                <p class="h4 text-main-color">Brian Ericksson</p>
                <div>
                  CEO - Cardwell Beach
                </div>
                <div>
                  New York City, US
                </div>
              </div>

            </div>
            <div class="carousel-item ">

              <div class="carousel-caption text-left">
                <h5 class="h1">
                  “I’ve worked with dozens of designers
                  over the decades and Gui is at the top.”
                </h5>
                <p class="h4 text-main-color">Brian Ericksson</p>
                <div>
                  CEO - Cardwell Beach
                </div>
                <div>
                  New York City, US
                </div>
              </div>

            </div>
            <div class="carousel-item ">

              <div class="carousel-caption text-left">
                <h5 class="h1">
                  “I’ve worked with dozens of designers
                  over the decades and Gui is at the top.”
                </h5>
                <p class="h4 text-main-color">Brian Ericksson</p>
                <div>
                  CEO - Cardwell Beach
                </div>
                <div>
                  New York City, US
                </div>
              </div>

            </div>
            <div class="carousel-item ">

              <div class="carousel-caption text-left">
                <h5 class="h1">
                  “I’ve worked with dozens of designers
                  over the decades and Gui is at the top.”
                </h5>
                <p class="h4 text-main-color">Brian Ericksson</p>
                <div>
                  CEO - Cardwell Beach
                </div>
                <div>
                  New York City, US
                </div>
              </div>

            </div>
          </div>


        </div>
      </div>
    </div>
  </div>


  <!--    <div class="col-12 d-none d-sm-block">-->
  <!--    <img src="images/gb.png" class="img-fluid d-none d-sm-block" />-->
  <!--    </div>-->

</div>

<!--</div>-->
<!--End Home Slider-->
