<!--Start User Interface-->
<div class="container">
  <div class="user-interface">
    <div class="row">
      <div class="col-lg-6">
        <h2>User Interface Design for mobile apps, softwares and web sites.</h2>
        <p>17 years of experience, delivering
           nothing but the best.
        </p>
        <a href="#" class="btn btn-outline-primary mb-4">Portfolio</a>
      </div>
      <div class="row justify-content-center position-relative">

        <div class="col-md-5 col-lg-4">
          <div class="card text-center shadow-lg">
            <img src="images/ux_1.png" class="mx-auto d-block" alt="ux" height="83" width="83" />

            <div class="card-body">
              <h5 class="h3">User Experience Research</h5>
              <p class="div">Let’s discover the behaviors, motivations and needs of your customers through observation,
                             task analysis and other types of user feedback.
              </p>

            </div>
          </div>
        </div>
        <div class="col-md-5 col-lg-4 card-up">
          <div class="card text-center shadow-lg">
            <img src="images/ux_2.png" class="mx-auto d-block" alt="ux" height="83" width="83" />

            <div class="card-body">
              <h5 class="h3">User Interface Design</h5>
              <p class="div">I’ll create awesome graphicsfor your mobile app, software, web site and home appliances
                             focusing on usability and the user experience.
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End User Interface-->