<!--Start Client Comments-->
<div class="client-comments text-md-left text-center">
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-md-4">
        <img src="images/client_2.png" alt="..." height="114" width="114" />
      </div>
      <div class="col-md-8">
        <p class="p">"Guilherme is a top professional. He made sure to understand my needs, was always available and
                     made sure I was satisfied with his work until the end. I recommend him for design as well as any
                     UI/UX work."
        </p>
        <div class="text-main-color h4">Samantha Ayala</div>
        <div class="span text-muted">CEO - Plannista</div>
        <div class="span text-muted">New York City, NY</div>
      </div>
    </div>

  </div>
</div>
<!--End Client Comments-->