<!--Start Client Opinion-->
<div class="client-opinion">
  <img src="images/client-opinion.png" class=" w-100" />
  <div class="content">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-lg-6 text-center text-sm-left">

          <h2 class="h3">
            “Gui is one of the most incredible, talented designers I’ve ever worked with. AMAZING.”
          </h2>
          <p class="h4">Matthew Weitzman</p>
          <div>
            Dashub <br>
            New York City, US
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
<!--End Client Opinion-->