<!--Start GD-->
<div class="gd">
  <div class="container">

    <div class="row justify-content-center">
      <div class="col-md-10 col-lg-8">
        <section class="text-center mb-5">
          <h2 class="h3">
            "Guilherme is an awesome designer. Super creative and does excellent."
          </h2>
          <div class="text-main-color font-weight-bold">
            Robert Cardiff,
            <span>San Diego - CA</span>
          </div>
        </section>
      </div>
    </div>

    <div class="row justify-content-between">
      <div class="col-md-5 col-lg-5 order-1 order-md-0">
        <p class="div text-justify mb-lg-4 mb-xl-5"> I’m Guilherme Ferreira, UX/UI Designer, Consultant, Entrepreneur,
                                             Instructor and
                               Creative,
                        passionate about innovation and design, with over 17 years of international experience.
        </p>
        <p class="div text-justify mb-lg-4 mb-xl-5"> During this period, I had the honor of creating projects not only for
                                             500 Fortune
                               companies
                         like
                        Google, IBM, Mercedes Benz and AGCO, but also for promising startups like Indeed, CrewHu,
                        Educate Net, Buildfire, Plannista, among others.
        </p>
        <p class="div text-justify mb-lg-4 mb-xl-5"> There were more than 200 companies around the world and millions of
                                             people were imp
                              the
                        experiences architected by our studio.
        </p>
      </div>
      <div class="col-md-7 col-lg-6  order-0 order-md-0">
        <img src="images/gd.png" class="img-fluid img-thumbnail w-100 mb-2" />
      </div>
    </div>
  </div>
</div>
<!--End GD-->