<!--Start Navbar-->
<nav class="navbar navbar-expand-md navbar-light">
  <div class="container">

    <a class="navbar-brand" href="index.html">
      <img src="images/logo.png" alt="logo" width="48" height="48" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar"
            aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" href="about.html">About</a>
        </li>
        <li class="nav-item">

          <a class="nav-link" href="portfolio.html">Portfolio</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link" href="testimonials.html">Testimonials</a>
        </li>
        <li class="nav-item">
          <a data-scroll class="nav-link" href="#contact-us">Contact</a>
        </li>
      </ul>
      <!--      Start Social-->
      <div class="social">
        <a href="#"><i class="fa fa-behance" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-whatsapp" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a>
      </div>
    </div>
    <!--    End Social-->
  </div>
</nav>
<!--End Navbar-->
