<!--Start Freelancing Platform-->
<div class="container">
  <div class="platform">
    <div class="row justify-content-center">
      <div class="col-sm">
        <div class="upwork">
          <div>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
          </div>
          <img src="images/upwork.png" class="mb-3" height="34" width="111" />
          <div class="span">
            Top Rated Designer
            100% Job Successful
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="gas">
          <img src="images/GAS.png" class="mb-3" height="48" width="142" />
          <div class="span">
            Inside the Mind of
            Brilliant Designers
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="insight">
          <img src="images/insight.png" class="mb-4" height="33" width="171" />
          <div class="span">
            10 Leaders to Watch
            in 2018
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--End Freelancing Platform-->