<!--Start Slider Secondary-->
<div class="slider-secondary">
  <div class="container">

    <div id="sliderSecondary" class="carousel slide" data-ride="carousel">
      <ol class="carousel-indicators">
        <li data-target="#sliderSecondary" data-slide-to="0" class="active"></li>
        <li data-target="#sliderSecondary" data-slide-to="1"></li>
        <li data-target="#sliderSecondary" data-slide-to="2"></li>
        <li data-target="#sliderSecondary" data-slide-to="3"></li>
        <li data-target="#sliderSecondary" data-slide-to="4"></li>
        <li data-target="#sliderSecondary" data-slide-to="5"></li>
        <li data-target="#sliderSecondary" data-slide-to="6"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="col-9">
            <img src="images/slider_1.png" class="img-fluid d-none d-sm-block" />
          </div>
          <div class="carousel-caption">
            <h5 class="h2 float-right">A World-class project created for Mercedes Benz Research and Development North America
                             .</h5>
            <div class="clearfix"></div>
            <p class="float-right">17 years of experience, delivering
               nothing but the best.</p>
            <div class="clearfix"></div>
            <a href="#" class="btn btn-outline-primary">Learn more</a>
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-9">
            <img src="images/slider_1.png" class="img-fluid d-none d-sm-block" />
          </div>
          <div class="carousel-caption">
            <h5 class="h2 float-right">A World-class project created for Mercedes Benz Research and Development North America
                                       .</h5>
            <div class="clearfix"></div>
            <p class="float-right">17 years of experience, delivering
                                   nothing but the best.</p>
            <div class="clearfix"></div>
            <a href="#" class="btn btn-outline-primary">Learn more</a>
          </div>
        </div>
        <div class="carousel-item">
          <div class="col-9">
            <img src="images/slider_1.png" class="img-fluid d-none d-sm-block" />
          </div>
          <div class="carousel-caption">
            <h5 class="h2 float-right">A World-class project created for Mercedes Benz Research and Development North America
                                       .</h5>
            <div class="clearfix"></div>
            <p class="float-right">17 years of experience, delivering
                                   nothing but the best.</p>
            <div class="clearfix"></div>
            <a href="#" class="btn btn-outline-primary">Learn more</a>
          </div>
        </div>
      </div>
    </div>


  </div>
</div>
<!--End Slider Secondary-->
