<!--Start Sponsers-->
<div class="sponsers">
  <div class="container">
    <div class="row justify-content-center align-items-center">
      <div class="col-sm-4 col-md">
        <img src="images/google.png" class="mx-auto d-block" width="80" alt="google">
      </div>
      <div class="col-sm-4 col-md">
        <img src="images/mercedes.png" class="mx-auto d-block" width="92" alt="mercedes" />
      </div>
      <div class="col">
        <img src="images/ibm.png" class="mx-auto d-block" width="80" alt="ibm" />

      </div>
      <div class="col-sm-4 col-md">
        <img src="images/reebok.png" class="mx-auto d-block" width="100" alt="reebok" />
      </div>
      <div class="col-sm-4 col-md">
        <img src="images/bcg.png" class="mx-auto d-block" width="62" alt="bcg" />
      </div>
    </div>
  </div>
</div>
<!--End Sponsers-->