<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Portfolio | GFD</title>


  @@include('./includes/_head.html')
</head>
<body>
  @@include('./components/_navbar.html')

  @@include('./pages/portfolio/_portfolio-header.html')
  @@include('./pages/portfolio/_projects-involved.html')

  @@include('./pages/about/_client-comment-about.html')

  @@include('./components/_getting-touch.html')

  @@include('./includes/_footer.html')

  @@include('./includes/_scripts.html')
  <script src="js/filter-projects.js"></script>
</body>
</html>