<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Portfolio Mercedes | GFD</title>

  @@include('./includes/_head.html')
</head>
<body>
  @@include('./components/_navbar.html')

  @@include('./pages/portfolio-item/_portfolio-header-item.html')



  @@include('./components/_getting-touch.html')

  @@include('./includes/_footer.html')

  @@include('./includes/_scripts.html')
</body>
</html>