
/*Font-size*/
%font-extrabold {
  font-weight: 800;
}
%font-bold{
  font-weight: 700;
}
%font-medium{
  font-weight: 500;
}
%font-regular {
  font-weight: 400;
}



h1, .h1 {
  font-size: $h1-font-size;
  @extend %font-extrabold;
  @media (max-width: $max-lg) {
    font-size:$h1-font-size * $ratio-font-lg;
  }
  @media (max-width: $max-med) {
    font-size:$h1-font-size * $ratio-font-med;
  }
  @media (max-width: $max-sm) {
    font-size:$h1-font-size * $ratio-font-sm;
  }
  @media (max-width: $max-xs) {
    font-size:$h1-font-size * $ratio-font-xs;
  }
}

h2, .h2 {
  font-size: $h2-font-size;
  @extend %font-extrabold;
  @media (max-width: $max-lg) {
    font-size:$h2-font-size * $ratio-font-lg;
  }
  @media (max-width: $max-med) {
    font-size:$h2-font-size * $ratio-font-med;
  }
  @media (max-width: $max-sm) {
    font-size:$h2-font-size * $ratio-font-sm;
  }
}

h3, .h3 {
  font-size: $h3-font-size;
  @extend %font-bold;
}

h4, .h4 {
  font-size: $h4-font-size;
  @extend %font-bold;
  @media (max-width: $max-sm) {
    font-size:$h4-font-size * $ratio-font-lg;
  }
}

p, .p {
  font-size: $p-font-size;
  letter-spacing: 0.86px;
  line-height: 1.1;
  @extend %font-medium;
  @media (max-width: $max-lg) {
    font-size:$p-font-size * $ratio-font-lg;
  }
  @media (max-width: $max-sm) {
    font-size:$p-font-size * $ratio-font-med;
  }
}

div, .div {
  font-size: $div-font-size;
  line-height: 1.2;
  @extend %font-regular;
  @media (max-width: $max-sm) {
    font-size:$div-font-size * $ratio-font-lg;
  }
}

span, .span {
  font-size: $span-font-size;
  @extend %font-regular;
}

button, .btn {
  font-size: $btn-font-size;
  @extend %font-bold;
}
