/*Global Settings*/
body {
  font-family: 'Raleway', sans-serif;
  color: $font-color;
}

/*Text-colors*/
.text-main-color {
  color: $primary-color;
}
.text-muted {
  color: $text-muted !important;
}
.text-grey {
  color: $text-grey;
}